/* Card body */
.card-body {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

/* Description text */
.desc-text {
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn {
    padding: 0.375rem 1.75rem !important;
}


/* Error text bubble */
.error-text-container {
    margin-top: 14px !important;
}

.error-text-alert {
    padding: .2rem .5rem !important;
    margin-bottom: 0rem !important;
    border-radius: .8rem !important;
}

.error-text {
    margin-bottom: 0px;
}

/* Github link */
.git-link {
    text-align: end;
    margin-right: 20px;
}